.row {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    color: lavender;
}

.posters {
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    padding: 20px;
}

.posters::-webkit-scrollbar {
    display: none;
}

.poster {
    object-fit: contain;
    width: 100%;
    max-height: 100px;
    border-radius: 10px;
    margin: 10px;
    transition: transform 450ms;
}

.poster:hover {
    transform: scale(1.15);
    /* opacity: 1; */
}

.posterLarge {
    max-height: 250px;
}

.posterLarge:hover {
    transform: scale(1.15);
    /* opacity: 1; */
}